body{
    display: flex;
    justify-content: center;
}
#calc{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    height: 400px;
    width: 200px;
    border-radius: 8px;
    gap: 2px;
}
.inputs{
    display: flex;
    justify-content: center;
    border: solid black 2px;
    flex: 1;
    margin: 4px;
    border-radius: 4px;

}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 4px;
    flex: 6;
    gap: 2px;
    margin: 4px;

}

.button{
    height: 50px;
    width: 50px;
    border: solid black 2px;
    border-radius: 4px;
    text-align: center;
}